<div class="card mb-4">
  <div class="card-header">
    <h5>New Quote</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="postForm" (ngSubmit)="addPost()">
      <div class="mb-3">
        <textarea formControlName="text" rows="3" class="form-control"
          placeholder="Write a quote..."></textarea>
      </div>
      <div class="mb-3">
        <input formControlName="author" class="form-control" placeholder="Author (optional)" />
      </div>
      <button type="submit" class="btn btn-dark" [disabled]="postForm.invalid">Post</button>
    </form>
  </div>
</div>
<hr>

<cdk-virtual-scroll-viewport itemSize="200" class="viewport">
  <ng-container *cdkVirtualFor="let post of filteredPosts">
    <app-post-card *ngIf="post" [post]="post"></app-post-card>
  </ng-container>
</cdk-virtual-scroll-viewport>
